<form class="add" action="/add" method="POST">
    <div class="title">
        <u><h4>Titulo</h4></u>
        <input class="add-txt-titulo" type="text" name="titulo" placeholder="Digite o titulo da nota">
        <u><h4>Conteudo</h4></u>
        <p><textarea class="add-txt-conteudo" name="conteudo" placeholder="Digite sua nota"></textarea></p>
        <p><button class="add-btn-adicionar" type="submit">Enviar sua nota</button></p>
    </div>
</form>