<div class="homeNull">
    <div class="title">
        <u><h1>NOTE-NODE</h1></u>
        <h2>Está um pouco vázio aqui né? Que tal criarmos umas notas?</h2>
        <a href="/adicionar"><button class="homeNull-btn-adicionar">Vamos lá</button></a>
    </div>   

</div>